# Docs
pydata_sphinx_theme
furo
haiku
insegel
nbsphinx
sphinxcontrib-bibtex
pandoc

# Basic
numpy
pandas
scipy>=0.14.0
matplotlib
plotly

# Optimization
numba
joblib

# Scientific
PyWavelets
statsmodels
stumpy

# ML/DL
scikit-learn>=0.22.1
torch>=1.6
#torch-scatter
#torch-sparse
#torch-cluster
#torch-spline-conv
#torch-geometric

# Utilities
tqdm
tables
pyts>=0.11.0
prettytable
SciencePlots
