sphinx
recommonmark
sphinx_markdown_tables
sphinx_rtd_theme
docutils==0.14
pydata_sphinx_theme
sphinxcontrib-bibtex

numpy
numba
pandas
tqdm
scipy>=0.14.0
scikit-learn>=0.19.1
matplotlib
seaborn
statsmodels